__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
.vscode/
.idea/
*.ipynb
!pulp_model.ipynb
!model.ipynb
# Keep datasets and models
!dataset_transformed.csv
!dataset_gizi.csv
!trained_models/
dataset.csv
model_evaluation_report.csv
documentation/
utils/trained_models/
*.pptx
